body
{
    background-color: white;
    cursor:url ('Images/CursorBGFree.png'), auto;
}

h3
{
    font-family: 'Open Sans', sans-serif;
}
/*Header*/ 

header
{
  margin-bottom: 25px; /*Just gives it space from bottom of header section including navbar, to seperate img slider*/
}

header img
{
    padding: 5px;
    margin: 0px;
}

.OpenSpaceHeaderContainer
{
    display: flex;
    justify-content: space-between;
}

.HeaderDetailSection
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.OpenSpaceBanner
{
    animation: fade linear;
    animation-timeline:view();
}



/*Navigation Bar*/


.NavBar ul{
    list-style-type: None;
    background-color: #98dbff;
    padding: 0px;
    margin: 0px;
    overflow: hidden; 
    font-family: 'Open Sans', sans-serif;
}

.NavBar a{
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.NavBar a:hover{
    background-color: #5fc5fd;
    transition: 0.45s ease-in;
}

.NavBar li{
    float: left;
}


/*Index page slider*/

.SliderQuote
{
    display: flex;
    justify-content: center;
    justify-items: center ; /*line 65 to 67 is to center the the div space holding the text*/
    width: 100%;
    padding: 15px;

    animation: fade linear;
    animation-timeline:view();
}


.OpenSpaceImgSliderSection
{
    overflow: hidden;
    border-radius: 8px;

    animation: fade linear;
    animation-timeline:view();
}

.OpenSpaceSlider
{
    width: 75%;
    display: flex;
    flex-direction: row; /*Important to add this as mobile is column otherwise it'll apply to desktop too*/
    animation: slide 16s infinite;

    /* //never have multiple keyframe identifiers in a class style */
    
}

.OpenSpaceSlider img
{
   width: 68%;

   animation: fade linear;
   animation-timeline:view();
}

@keyframes slide{ 
    0%{
    transform: translateX();
}
25%{
    transform: translateX(-100%);
}
50%{
    transform: translateX(-100%);
}
55%{
    transform: translateX(-200%);
}
75%{
    transform: translateX(-200%);
}
}

.WMSTitle, h1
{
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    color: #42bdff;
    background-color: white;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);

    animation: fade linear;
    animation-timeline:view();
}

.WelcomeMessageSection
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;

    animation: fade linear;
    animation-timeline:view();
}

.WMSText
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 7.5px;
    justify-content: center;
    align-items: center;

    animation: fade linear;
    animation-timeline:view();
}


.OwnerInfoSectionBackgroundWrapper /*another div to wrap around all*/
{
    background-color: #98dbff; /* Set background color across the page */
    width: 100%; /* Span across the entire page width */
    padding: 25px 0; /* Add some vertical padding to create space around the content */

    animation: fade linear;
    animation-timeline:view();
}

.OwnerInfoSection
{
    background-color: #afe0fa;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 20px;
    width: 50%; /*This is to manipulate the div space size*/
    margin-left: 25%; /*Doing 25% because its half of width which is 50%*/
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for modern look, contrasts this div background colour with the background colour div wrapper*/

    animation: fade linear;
    animation-timeline:view();
}

.OwnerText
{
    background-color: white;
    margin-left: 20px;
    padding: 10px;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;

    animation: fade linear;
    animation-timeline:view();
}


footer
{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    margin-bottom: 50px;
}


@keyframes fade
{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: translate();
    }
    100%{
        transform: translate();
    }
}


/* Then writing 
animation: fade linear; and animation-timeline:view(); under certain class will add effect keyframe fade effect*/

.LmamHeading
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.QualificationSection
{
    display: flex;
    justify-content: space-between;

    animation: fade ease-in;
    animation-timeline:view();
    
}

.BACPQQ
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.NHSQQ
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 250px;
}

.MoreInfoBackgroundWrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98dbff; 
    width: 100%; 
    padding: 15px; 
    margin-bottom: 50px;

    animation: fade;
    animation-timeline:view();
}

.MoreInfoList ul li
{
    width: 100%;
    display: inline;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid black;
    margin-right: 15px;
    background-color: #fff;
}

.MoreInfoList li:hover
{
    background-color:#5fc5fd;
    color: white;
    transition: 0.3s ease-in-out;
}